.main-content{
    display: flex;
    flex-direction: column;
}

.income-section{
margin: 20px;
}
.income-panel{
      position: fixed;
   margin: 10px;
    top: 100px;
    right: 0;

    width: 350px;
    height: 60vh;

    background: #0A223B;

    transform: translateX(100%);
    transition: transform 0.7s ease;
    border-radius: 15px;

    padding: 30px;
    z-index: 1000;
}
.income-panel.active{
    transform: translateX(0px);
}
.income-date input,
.income-date textarea{
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}
.income-date input:hover,
.income-date textarea:hover{
    background: #0a51bb;
    transition: 0.5s;
}
.total-income {
    background: #0A223B;
    padding: 10px;
    width: 40%;
    height: 220px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.income-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.income-header label{
    margin: 5px;
    font-size: 32px;
}
.income-header p{
    margin: 15px;
    font-size: 40px;
}
.income-section h1{
    margin: 20px;
}
.income-track{
    font-size: 25px;
    margin: 20px;
    margin-right: 10px;
}
#incomeBtn{
    background: rgb(0, 119, 255);
    width: 130px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 95px;
    margin-left: 20px;
}
#incomeBtn:hover{
    background: #164B82;
    transition: 0.2s;
}
.income-header{
      display: flex;
   flex-direction: column;
   margin-bottom: 25px;
   font-size: 20px;
    gap: 10px;
}
.income-sources{
    position: relative;
    width: 40%;
    height: 250px;
    background:linear-gradient(135deg, #0F2135, #031327);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}
.income-form {
    display: flex;
    gap: 10px;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

    background: #0e335a;
    padding: 15px;
    border-radius: 20px;
    width: 170px;
    height: 140px;
}
.category-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin: 0;
    border-radius:15px ;
   padding: 10px;
}
.income-sources> a{
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    color: #0a51bb;
    font-size: 18px;
    transition: 0.3s;
    
}
.income-sources a:hover{
    padding: 5px;
    gap: 5px;
    border-radius: 10px;
    background:#0F2135;
}
#income-panel{
    margin: 0;
    gap:15px;
    display: flex;
    flex-direction: column;

}
#income-panel input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 5px;
    background: none;
    transition: 0.4s;
    cursor: pointer;
    color: white;
    
}
#close-income{
    margin-left: auto;
    border-radius: 7px;
    padding: 5px;
    width: 30px;
    background: none;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}
#close-income:hover{
    background: #0a51bb;
    
}
#income-panel input:hover{
    background: #0a51bb;
     box-shadow: 0 0 20px 10px rgba(95, 5, 197, 0.6);
     
}
#income-source{
    background: none;
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}
#income-source:hover{
    background: #0a51bb;
box-shadow: 0 0 20px 10px rgba(95, 5, 197, 0.6);

}
#saveBtn{
    background: none;
    color: white;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
}
#saveBtn:hover{
    background: #0a51bb;
box-shadow: 0 0 20px 10px rgba(95, 5, 197, 0.6);
}


